<body class="barn">
  <div class="container">
    <div class="row" style="margin-top:70px">
      <div id ="middle" class="col-md-12" >
        <div class="col-md-12">
          <div class="page-header">
            <h1>당신의 행복한 <small>일상이 기록되는 페이지</small></h1>
          </div>
        </div>
      </div>
      <div class="col-md-12"> 
      <!--여기는 자기 소개 페이지-->
        <div style="padding-top:50px;text-align:center">
          <img src="<%=User.where(:id => params[:id]).take.img.url%>" style="width:250px; height:250px;" class="img-circle">
          <span><h3><%=User.where(:id => params[:id]).take.oneline%></h3> <h2><%=User.where(:id => params[:id]).take.nickname%></h2></span>
          <h3 style="color:#333326"> <%=User.where(:id => params[:id]).take.profile%> </h3>
        </div>

      <br><br />
      <style>
      a:link{text-decoration:none;}
      a:visited{text-decoration:none;}
      a:hover{text-decoration:none;}
      a:active{text-decoration:none;}
      </style>

      <div class="col-md-12" style="height:0px;">
      </div>
      <div class="col-md-12" style="height:150px;">
        <center>
          <% unless current_user.badminton == 0%>
            <img src="/img/bad.png" style="height:150px;width:120px;">
          <%end%>
          <img src="/img/bad.png" style="height:150px;width:120px;">
          <img src="/img/bad.png" style="height:150px;width:120px;">
          <img src="/img/bad.png" style="height:150px;width:120px;">
          <img src="/img/bad.png" style="height:150px;width:120px;">
          <img src="/img/bad.png" style="height:150px;width:120px;">
          <img src="/img/bad.png" style="height:150px;width:120px;">
          <img src="/img/bad.png" style="height:150px;width:120px;">
        </center>
      </div>
      <div class="col-md-12" style="height:100px;">
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
        </div>
        <!--방명록 쓰는곳-->
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <form action="/home/user_reply" enctype="multipart/form-data" method="POST">
                <input type="hidden" name="user_id" value="<%=params[:id]%>">
                <input type="hidden" name="id_img" value="<%=current_user.img.url%>">
                <input type="hidden" name="reply_name" value="<%=current_user.nickname%>">
                <input type="hidden" name="reply_password" value="<%=current_user.password%>">
                <textarea class="form-control" name="reply_content" rows="3"></textarea><br>
                <div class="col-md-6">
                  <input type="file" id="exampleInputFile" name="reply_img">
                </div>
                <div class="col-md-6" style="text-align:right">
                  <input type="submit" class="btn btn-warning" value="확인">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    
      
      <!--방명록 달리는곳-->

          
        <%User.where(:id => params[:id]).take.userreplies.paginate(:page => params[:page], :per_page => 2).each do |t|%>
        <div class="col-md-12">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="panel panel-default" style="background-color:#f2e9e1;margin-bottom:0px">
              <div class="panel-heading col-md-12 " style="background-color:#333333;color:#f2e9e1">
                <div class="col-md-9">
                  <img src="<%=t.id_img%>" style="width:40px;height:40px; border-radius:100%">&nbsp;&nbsp;<a href="/home/private_page1/<%=t.reply_id%>" style="color:#f2e9e1"><strong><%=t.reply_name%></strong> </a>
                  &nbsp;(<%= time_ago_in_words(t.updated_at)%> ago)
                </div>
                <% if current_user.nickname == t.reply_name%>
                <div class="col-md-3" style="color:#f2e9e1">
                  <center><a href="/home/private_delete/<%= t.id %>" style="color:#f2e9e1">게시글<br> 삭제하기</a></center>
                </div>
                <%end%>
              </div>

              <div class="col-md-12 panel-body" style="background-color:#f2e9e1">

               <img src="<%=t.reply_img%>" width="100%"><br>
               <h4><%=t.reply_content%></h4><br /><br /><br />
                

              <!--</div>-->
              <div class="col-md-12" style="background-color:#dac0a9;height:2px">
              </div>
              <br>
              <!--댓글달리는곳-->
                <div class="col-md-12">
                  <%t.replyreplies.each do |r|%>
                  <div class="col-md-1">
                    <img src="<%=r.userreply_img%>" style="width:40px;height:40px; border-radius:100%">
                  </div>
                  <div class="col-md-2" style="text-align:center">
                    <strong><a href="/home/private_page1/<%=r.userreply_id%>"><%=r.userreply_name%></a></strong>
                  </div>
                  <% if current_user.nickname == r.userreply_name%>
                  <div class="col-md-7">  
                    <%=r.userreply_content%>
                  </div>
                  <div class="col-md-2">
                    <a href="/home/reply_delete/<%=r.id%>">삭제</a>
                    <br />
                    <br />
                    <br />
                  </div>
                  <%else%>
                  <div class="col-md-9">  
                    <%=r.userreply_content%>
                    <br />
                    <br />
                    <br />
                  </div>
                  <%end%>
                <%end%>
                </div>
                <div class="col-md-12" style="height:30px">
                </div>
                <form action="/home/reply_reply" method="POST">
                  <!--<div class="panel panel-default" style="width:100%">-->
                  <!--  <div class="panel-body" style="background-color:#f2e9e1;margin-top:0px;">-->
                    <input type="hidden" value="<%=t.id%>" name="userreply_id">
                    <div class="col-md-10">
                      <input type="text" name="userreply_content" class="form-control" style="width:100%">
                    </div>
                    <div class="col-md-2">
                      <input type="submit" value="확인" class="btn btn-warning">
                    </div>
                  <!--  </div>-->
                  <!--</div>-->
                </form>
               </div>
            </div>
          </div>
        <div class="col-md-3">
        </div>
        
        <div class="col-md-12" style="height:40px">
        </div>
     </div>
      <%end%>

  </div>
</div>

  
</body>

