<body class="barn" style="background-color:white">
  <div class="row" style="margin-top:30px">
    <div id ="middle" class="col-md-1 grid_color2">
    <!--여기는 자기 소개 페이지-->
      <div id="introduction" class="hideClass" style="padding-top:50px">
        <center>
          <img src="<%=User.where(:id => params[:id]).take.img.url%>" style="width:300px; height:300px;" class="img-circle">
          <span><h3 style="color:white;"><%=User.where(:id => params[:id]).take.oneline%></h3> <h2 style="color:white"><%=User.where(:id => params[:id]).take.nickname%></h2></span>
          &nbsp;
          <h3 style="color:#f0f0f0"> <%=User.where(:id => params[:id]).take.profile%> </h3>
        </center>
      </div>
    </div>
    <!--헤더-->
    <div id="right" class="col-md-11 grid_color3">
      <div class="col-md-10">
        <div class="page-header">
          <h1>당신의 행복한 <small>일상이 기록되는 페이지</small></h1>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-default" type="submit" style="margin-top:50px;">이미지등록하기</button>
      </div>
    
      
      <div id="img_slide" class="col-md-7">
    
      <!--여기서부터는 사진나오는 곳-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO4KZbI1luLzLksFj6OdaOANS8EOVlb2bkjlHWUUZZuDPXFOyW" style="width:1600px;height:800px">
            <div class="carousel-caption">
              ...
            </div>
          </div>
          <div class="item">
            <img src="http://www.gannett-cdn.com/-mm-/ac1394dbdcca6a36cbf486633b129cd813095ac3/r=x404&c=534x401/local/-/media/USATODAY/USATODAY/2013/05/15/1368651384000-AP-Pennsylvania-Daily-Life-1305151712_4_3.jpg" style="width:1600px;height:800px">
            <div class="carousel-caption">
              ...
            </div>
          </div>
          <div class="item">
            <img src="http://viewthevibe.com/wp-content/uploads/2015/04/Nike-running.jpg" style="width:1600px;height:800px">
            <div class="carousel-caption">
          ...
            </div>
          </div>
        </div>
    
        <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      
      <style>
      a:link{text-decoration:none;}
      a:visited{text-decoration:none;}
      a:hover{text-decoration:none;}
      a:active{text-decoration:none;}
      </style>
      <!--방명록 쓰는곳-->
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-body">
            <form action="/home/user_reply" enctype="multipart/form-data" method="POST">
              <input type="hidden" name="user_id" value="<%=params[:id]%>">
              <input type="hidden" name="id_img" value="<%=current_user.img.url%>">
              <input type="hidden" name="reply_name" value="<%=current_user.nickname%>">
              <input type="hidden" name="reply_password" value="<%=current_user.password%>">
              <textarea class="form-control" name="reply_content" rows="3"></textarea><br>
              <div class="col-md-6">
                <input type="file" id="exampleInputFile" name="reply_img">
              </div>
              <div class="col-md-6">
                <input type="submit" class="btn btn-warning" value="확인">
              </div>
            </form>
          </div>
        </div>
    
      
      <!--방명록 달리는곳-->
      <%User.where(:id => params[:id]).take.userreplies.each do |t|%>
        <br>
        <div class="panel panel-default" style="margin-bottom:0px">
          <div class="col-md-12 panel-heading" style="background-color:#333333;color:#f2e9e1">
            <div class="col-md-10">
              <img src="<%=t.id_img%>" style="width:40px;height:40px; border-radius:100%">&nbsp;&nbsp;<a href="/home/private_page1/<%=t.reply_id%>" style="color:#f2e9e1"><strong><%=t.reply_name%></strong> </a>
              &nbsp;(<%= time_ago_in_words(t.updated_at)%> ago)
            </div>
            <% if current_user.nickname == t.reply_name%>
            <div class="col-md-2" style="color:#f2e9e1">
              <center><a href="/home/private_delete/<%= t.id %>" style="color:#f2e9e1">게시글<br> 삭제하기</a></center>
            </div>
            <%end%>
          </div>
          <div class="col-md-12 panel-body" style="background-color:#f2e9e1">
            <img src="<%=t.reply_img%>" width="100%"><br>
            <%=t.reply_content%><br /><br /><br />
          </div>
          <br>
          <!--댓글달리는곳-->
          <div class="col-md-12">
            <%t.replyreplies.each do |r|%>
            <div class="col-md-1">
              <img src="<%=r.userreply_img%>" style="width:40px;height:40px; border-radius:100%">
            </div>
            <div class="col-md-1">
              <strong><a href="/home/private_page1/<%=r.userreply_id%>"><%=r.userreply_name%></a></strong>
            </div>
            <% if current_user.nickname == r.userreply_name%>
            <div class="col-md-9">  
              <%=r.userreply_content%>
            </div>
            <div class="col-md-1">
              <a href="/home/reply_delete/<%=r.id%>">삭제</a>
              <br />
              <br />
              <br />
            </div>
            <%else%>
            <div class="col-md-10">  
              <%=r.userreply_content%>
              <br />
              <br />
              <br />
            </div>
            <%end%>
          <%end%>
          </div>
        
        <form action="/home/reply_reply" method="POST">
        <div class="panel panel-default" style="width:100%">
          <div class="panel-body" style="background-color:#f2e9e1;margin-top:0px;">
            <input type="hidden" value="<%=t.id%>" name="userreply_id">
            <div class="col-md-10">
              <input type="text" name="userreply_content" class="form-control" style="width:100%">
            </div>
            <div class="col-md-2">
              <input type="submit" value="확인" class="btn btn-warning">
            </div>
          </div>
        </div>
        </form>
      </div>

    <%end%>
    </div>
  </div>

<style>
  .hideClass {display:none;} 
  .newClass {} 
  .hide_review {display:none;}
  .new_review {}
</style>

<script>
  var open = false;
  $(function() {
    $( "#middle" ).mouseover(function() {
      $( "#middle").switchClass("col-md-1", "col-md-3", 1000 );
      $("#right").switchClass("col-md-10","col-md-8",1000);
      $( "#introduction").switchClass("hideClass","newClass",1000);
    });
  
    $( "#middle" ).mouseout(function() {
      $( "#introduction").switchClass("newClass","hideClass", 1000);
      $( "#middle").switchClass("col-md-3", "col-md-1", 1000 );
      $("#right").switchClass("col-md-8","col-md-10",100);
    });
  });

</script>
  
</body>

